<ul>
<li><h2>Tu nombre es <%= @persona.nombre %></h2></li>

<li><h2>Tu correo <%= @persona.email %></h2></li>

<li><h2>Tienes <%= @persona.edad %></h2></li>

<li><h2>Vehiculos en propiedad</h2>
  <% if@persona.vehiculos.length != 0 %>
  <ul>
    <% @persona.vehiculos.each_with_index do |v,i| %>
      <% varmas = v.marca + " " +v.modelo.to_s %>
      <li> <%= link_to varmas, vehiculo_path(v) %> </li>
    <% end %>
  </ul>
  <% else %>
    <p>La persona no tiene vehiculos</p>
  <% end %>
</li>

</ul>
<div >
  <%=link_to "Volver", personas_path %>
</div>

<div>
  <%= link_to "Editar", edit_persona_path(@persona) %>
</div>

<div >
  <%= link_to "Eliminar", @persona , method: :delete, data: { confirm: "¿Estas seguro?" } %>
</div>
